---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/components-font-awesome/fonts/";

/* any style customization must be before the bootstrap import */
/*TODO move `layout` styles into dedicated folder*/
@import "helpers/variables";
@import "base/layout";
@import "helpers/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/components-font-awesome/scss/font-awesome.scss";
@import "base/typography";
@import "base/images";
@import "base/forms";
@import "components/main-banner";
@import "components/page-banners";
@import "components/banner-menu"; /*after page-banners*/
@import "components/slogan";
@import "components/image-grid";
@import "components/header";
@import "components/nav";
@import "components/widget-contacts";
@import "components/widget-meeting";
@import "components/footer";
@import "components/search";
@import "components/posts";
@import "components/pic";
@import "layouts/subpage";
@import "pages/about";
@import "pages/service-page";
@import "pages/contact";
@import "pages/customers";
@import "pages/josra";
@import "pages/offices";
@import "pages/page";
@import "pages/partners";
@import "pages/post";
@import "pages/stories";
@import "pages/1hour";
@import "pages/service-page";
@import "pages/index";
@import "pages/tool-specialists";
@import "pages/training";
@import "pages/training-index";
@import "pages/training-page";
@import "themes/theme";

/*@import "helpers/helpers";*/
