---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/components-font-awesome/fonts/";

/* custom variable */
/*$body-bg: red;*/

/* any style customization must be before the bootstrap import */
@import "helpers/variables";
@import "base/layout";
@import "helpers/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/components-font-awesome/scss/font-awesome.scss";
@import "base/typography";
@import "components/main-banner";
@import "components/page-banners";
@import "pages/about";
@import "components/slogan";
@import "components/header";
@import "components/nav";
@import "components/widget-contacts";
@import "components/footer";
@import "components/pic";
@import "pages/tag-page";
@import "pages/post";
@import "pages/page";
@import "pages/stories";
@import "pages/training";
@import "pages/training-page";
@import "pages/offices";
@import "pages/customers";
@import "pages/members";
@import "pages/service-page";
@import "pages/training-index";
@import "pages/partners";
@import "themes/theme";

/*@import "helpers/helpers";*/
