<footer class="site-footer">
  <div>
    <div class="offices">
      <h2>Offices</h2>
      <div class="directions">
        {% for f in site.data.footer %}
          <div class="direction">
            <div class="title">
              {{ f.title }}
            </div>
            {{ f.caption }}
            {% if f.phone or f.email %}
              <div class="addition">
                <div class="phone">{{ f.phone }}</div>
                <div class="email">{{ f.email }}</div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% include contacts.html %}
  </div>
</footer>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
