{% assign mb = site.data.front.main-banners[0] %}
<section class="main-banner">
  <div>
    <div>
      <a class="main-link" href="{{ mb.url }}">
        <span class="title-ribbons">
          <span class="ribbon-secondary">{{ mb.ribbon-orange-caption }}</span><br/>
          {% assign black-ribbon-parts =  mb.ribbon-black-caption | split: "<br>" %}
          {% for t in black-ribbon-parts %}
            <span class="ribbon-primary">{{ t }}</span><br/>
          {% endfor %}
        </span>
        <img src="{{ mb.avatar }}" alt="{{ ribbon-black-caption }}">
        <span class="caption">{{ mb.caption }}</span>
      </a>
      <a class="additional-link" href=" {{ mb.ribbon-white-url }}">
        {{ mb.ribbon-white-caption }}
      </a>
    </div>
  </div>
</section>
