{% assign mb = site.data.front.main-banners[0] %} <section class="main-banner">
  <div>
    <div>
      <a class="main-link" href="{{ mb.url }}">
        {% assign lines-number = mb.ribbon-black-caption | split: "<br>" | size %}
        <span class="title-ribbons lines-number-{{ lines-number }}">
          <div class="ribbon-secondary">
            <span>{{ mb.ribbon-orange-caption }}</span>
          </div>
          <div class="ribbon-primary">
            <span>{{ mb.ribbon-black-caption }}</span><br/>
          </div>
        </span>
        <img src="{{ mb.avatar }}" alt="{{ ribbon-black-caption }}">
        <span class="caption">{{ mb.caption }}</span>
      </a>
      <a class="additional-link" href=" {{ mb.ribbon-white-url }}">
        {{ mb.ribbon-white-caption }}
      </a>
    </div>
  </div>
</section>
