{% assign menu_items = site.pages %}
{% for t in site.tag-pages %}
  {% assign menu_items = menu_items | push:t %}
{% endfor %}

{% assign menu_items = menu_items | sort: "nav-weight" %}


<nav class="main-menu">
    <div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand-logo" href="/"><img src="{{ site.logo }}" alt="{{ site:description | prepend: ' — ' | prepend: site.title }}"></a>
        <p class="brand-text">{{ site.title }}<span class="description">{{ site.description }}</span></p>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-menu-collapse">
        <ul class="nav navbar-nav">
          {% assign current-page-folder = page.url | split: "/" | shift | pop %}
          {% for p in menu_items %}
            {% if p.nav-weight %}
              {% assign menu-item-folder = p.url | split: "/" | shift %}
              <li{% if p.url == page.url or current-page-folder == menu-item-folder %} class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
</nav>
