{% assign tag-pages = site.tag-pages | sort: "tag-weight" | reverse %}
<section class="search">
  <h3>Search</h3>
  {% for t in tag-pages %}
    {% if t.categories contains "tag-page" %}
      <a href="{{ t.url }}"{% if t.url == page.url %} class="active"{% endif %}>{{ t.tag }}</a>
    {% endif %}
  {% endfor %}
  <script>
    (function() {
      var cx = '007895344881986624734:escogkbkkxk';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</section>
