<!--TODO remove-->
<!--<nav class="service-menu">-->
  <!--<h2>Other services</h2>-->
  <!--{% for s in site.services %}-->
    <!--<div class="menu-item{% if s.url == page.url %} active{% endif %}">-->
      <!--<a href="{{ s.url }}">-->
        <!--<img src="{{ s.avatar }}" alt="{{ s.title }}">-->
        <!--<h3>-->
          <!--{{ s.title }}-->
        <!--</h3>-->
        <!--[><p><]-->
          <!--[>{{ s.caption }}<]-->
        <!--[></p><]-->
      <!--</a>-->
    <!--</div>-->
  <!--{% endfor %}-->
<!--</nav>-->
