<section class="story-filters">
  <h3>Search</h3>
  {% assign tags = "" | split:"" %}
  {% for p in site.posts %}
    {% for t in p.tags %}
      {% unless tags contains t %}
        {% assign tags = tags | push:t %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
  {% assign tags = tags | sort %}
  <div class="filters-href">
    <a href="/stories/#Newest">Newest</a>
    {% for t in tags %}
      <a href="/stories/#{{ t }}">{{ t }}</a>
    {% endfor %}
  </div>
  <div class="dropdown">
    <select onchange="window.location.href=this.options[this.selectedIndex].value">
      <option value="/stories/#Newest">Newest</option>
      {% for t in tags %}
        <option value="/stories/#{{ t }}">{{ t }}</option>
      {% endfor %}
    </select>
  </div>
  {% include search.html %}
  <script src="/javascripts/stories-filtering.js">
  </script>
</section>
