<section>
  <div class="facts">
    <h2>Facts</h2>
    <div class="fact"><h3>Duration </h3>  {{ page.duration }} </div>
    <div class="fact"><h3>Level    </h3>  {{ page.level }}    </div>
    <div class="fact"><h3>Caption  </h3>  {{ page.caption }}  </div>
    <div class="fact"><h3>Type     </h3>  {{ page.type }}     </div>
    <div class="fact"><h3>Location </h3>  {{ page.location }} </div>
  </div>

  {% if page.schedule %}
  <h2>Scheduled training</h2>
  <div class="ticket-form">
    {% for course in page.schedule  %}
      <h3>{{ course.location }}</h3>
      <b>{{ course.date | date: "%A %B %d. %Y" }}</b> <a href="https://www.eventbrite.co.uk/e/{{course.eventbriteid}}" target="_blank"><em>....details</em></a><br/>
      {% include eventbrite-ticket-form.html eventbriteid=course.eventbriteid %}
    {% endfor %}
  </div>
  {% endif %}
</section>
