<div id="widget-contacts">
  <div>
    <div>
      <div>
        <div>
          <div class="icons">
            <a href="https://twitter.com/Praqma" target="_blank"><i class="fa fa-twitter-square fa-1g"></i></a><a href="https://www.linkedin.com/company/praqma-a-s" target="_blank"><i class="fa fa-linkedin-square fa-1g"></i></a>
          </div>
          <div class="text-links">
            <a href="tel: {{ site.phone | remove:' ' | remove:'-' }}" class="phone">{{ site.phone }}</a>
            <a href="mailto:{{ site.email }}" class="email">{{ site.email }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
