.layout-1hour{
  @extend .row;
  main[role="main"]{
    @extend .col-md-45;
  }
  aside{
    letter-spacing: $font-letter-spacing;
    @extend .col-md-15;
    #search{
      a{
        display: block;
        color: $color-black;
        &:hover, &.active{
          color: $color-orange;
        }
      }
    }
  }
}
