.about-menu{ // for about index page
  @extend .row;
  margin-top: 40px;
  .menu-item{
    @extend .col-xs-30;
    @extend .col-sm-12;
    margin-bottom: 2em;
    text-align: center;
    &:nth-child(2n+1){
      clear: left;
    }
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0em;
      &:nth-child(2n+1){
        clear: none;
      }
    }
    img{
      width: 70%;
      /*transition: opacity $transition-time;*/
    }
    a{
      color: $color-black;
      text-decoration: none;
    }
    h3{
      letter-spacing: $font-letter-spacing;
      text-transform: uppercase;
    }
    &:hover{
      img{
        opacity: 0.8;
      }
      h3{
        text-decoration: underline;
      }
    }
  }
}

.layout-about-page{
  @extend .row;
  main{
    @extend .col-md-45;
  }
  nav.about-menu{ // overriding menu for about-pages
    @extend .col-md-15;
    margin-top: -9px;
    margin-bottom: 20px; // for small screen
    .menu-item{
      @extend .col-xs-60;
      @extend .col-sm-60;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 5px;
      }
      text-align: left;
      img{
        width: 40px;
        float: left;
        margin-right: 10px;
        /*transition: opacity $transition-time;*/
      }
      h3{
        margin-top: 0.1em;
        line-height: 40px;
      }
      p{
        display: none;
      }
      &.active{
        a{
          color: $color-orange;
        }
      }
    }
  }
}
