.about-menu{ // for about index page
  @extend .row;
  margin-top: 40px;
  .menu-item{
    @extend .col-xs-30;
    @extend .col-sm-15;
    margin-bottom: 2em;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0em;
    }
    text-align: center;
    img{
      width: 70%;
      /*transition: opacity $transition-time;*/
    }
    a{
      color: $color-black;
      text-decoration: none;
    }
    h3{
      letter-spacing: $font-letter-spacing;
      text-transform: uppercase;
    }
    &:hover{
      img{
        opacity: 0.8;
      }
      h3{
        text-decoration: underline;
      }
    }
  }
}

.about{
  @extend .row;
  nav.about-menu{ // overriding menu for about-pages
    @extend .col-md-15;
    margin-top: -9px;
    margin-bottom: 20px; // for small screen
    .menu-item{
      @extend .col-xs-60;
      @extend .col-sm-60;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 5px;
      }
      text-align: left;
      img{
        width: 40px;
        float: left;
        margin-right: 10px;
        /*transition: opacity $transition-time;*/
      }
      h3{
        margin-top: 0.1em;
        line-height: 40px;
      }
      p{
        display: none;
      }
      &.active{
        a{
          color: $color-orange;
        }
      }
    }
    /*padding-top: 5px;*/
    /*.menu-item{*/
      /*&.active *, &:hover *{*/
        /*[>border: 2px solid $color-orange;<]*/
        /*color: $color-orange;*/
        /*text-decoration: none;*/
      /*}*/
      /*&:hover h3{*/
        /*text-decoration: underline;*/
      /*}*/
    /*}*/
    /*h3{*/
      /*margin-top: 0;*/
    /*}*/
    /*p{*/
      /*margin-bottom: 1em;*/
    /*}*/
    /*a{*/
      /*display: block;*/
      /*color: $color-black;*/
      /*transition: color $transition-time;*/
    /*}*/
  }
}
.about-page{
  @extend .col-md-45;
  /*& > div{*/
    /*@extend .row;*/
  /*}*/
  /*main[role="main"]{*/
    /*@extend .col-md-60;*/
  /*}*/
}
