body.blog{
  .main-area>div{
    @extend .row;
  }
  main[role="main"]{
    @extend .col-md-10;
    @extend .col-md-pull-5;
  }
  aside{
    @extend .col-md-5;
    @extend .col-md-push-10;
    .search{
      font-family: $font-family-condensed;
      a{
        display: block;
        color: $color-black;
        text-transform: uppercase;
        &:hover, &.active{
          color: $color-orange;
        }
      }
      form{
        @extend .form-group;
        input{
          @extend .form-control;
        }
        button{
          @extend .btn;
          @extend .btn-default;
        }
      }
    }
  }
}
