.page-employees{
  .employee{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    cursor: pointer;
    .image{
      position: absolute;
      background: url(https://pixabay.com/static/uploads/photo/2014/03/29/09/17/cat-300572_960_720.jpg) no-repeat center top;
      width: 100%;
      right: 0;
      bottom: 0;
      top: 0;
      transition: 100ms width;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      /*img{*/
        /*width: 100%;*/
      /*}*/
    }
    .content-wrapper{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: 1;
    }
    .content{
      transition: 100ms all;
      opacity: 0;
      padding: 10px;
      background: $color-orange;
      height: 100%;
      a, a:hover{
        color: black;
        opacity: 0.4;
        text-decoration: underline;
      }
      h1, h2{
        margin: 0;
      }
    }
    &:hover .content:after{
      $b: blue($color-orange);
      $g: green($color-orange);
      $r: red($color-orange);
      background: -moz-linear-gradient(   top, rgba($r,$g,$b,0) 70%, rgba($r,$g,$b,1) 95%);
      background: -webkit-linear-gradient(top, rgba($r,$g,$b,0) 70%, rgba($r,$g,$b,1) 95%);
      background: linear-gradient(  to bottom, rgba($r,$g,$b,0) 70%, rgba($r,$g,$b,1) 95%);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }

    &:hover, &[data-position="0-0"]{
      .content{
        opacity: 1;
      }
    }
    &[data-position="0-0"]{
      .content{
        cursor: default;
        &:after{
          content: none;
        }
      }
      .content-wrapper{
        padding-right: 6px;
      }
    }
  }

  /*@mixin freewall-content-width($column-number: 1){*/
    //*.freewall-container[data-total-col="#{$column-number}"] [data-position="0-0"] .content{*/
      /*width: 100% / ($column-number - 1);*/
    /*}*/
  /*}*/
  .freewall-container[data-total-col="1"] [data-position="0-0"],
  .freewall-container[data-total-col="2"] [data-position="0-0"]{
    .content-wrapper{
      width: 50%;
    }
    .image{
      width: 55%;
    }
  }
  .freewall-container[data-total-col="3"] [data-position="0-0"],
  .freewall-container[data-total-col="4"] [data-position="0-0"]{
    .content-wrapper{
      width: 33.3%;
    }
    .image{
      width: 70%;
    }
  }
}
