.page-employees{
  .employee{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    .image{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      img{
        width: 100%;
      }
    }
    .content{
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: 1;
      background: rgba(255,255,255,0.6);
    }
    &:hover .content, &[data-position="0-0"] .content{
      display: block;
    }
    &[data-position="0-0"] .content{
      width: 25%;
    }
  }
}
