.post{
  .meta{
    /*margin-top: -1em;*/
    margin-bottom: 0.5em;
    .date{
      color: $color-orange;
      margin-bottom: 0;
      margin-right: 0.4em;
      text-transform: uppercase;
    }
    .tag{
      background: $color-gray;
      color: $color-gray-text;
      font-size: 0.8em;
      padding: 0 0.4em;
      &:hover{
        background: $color-orange;
        color: white;
        text-decoration: none;
      }
      /*&.tag-link:hover{*/
        /*opacity: 0.6;*/
      /*}*/
    }
  }
}
.post-content{
  img.post-avatar{
    margin-top: 2em;
    width: 100%;
  }
  p.caption{
    color: $color-black;
  }
}
