.services{
  @extend .row;
  nav{
    @extend .col-md-15;
    padding-top: 5px;
    .menu-item{
      &.active *, &:hover *{
        /*border: 2px solid $color-orange;*/
        color: $color-orange;
        text-decoration: none;
      }
      &:hover h3{
        text-decoration: underline;
      }
    }
    h3{
      margin-top: 0;
    }
    p{
      margin-bottom: 1em;
    }
    a{
      display: block;
      color: $color-black;
      transition: color $transition-time;
    }
  }
}
.service-page{
  @extend .col-md-45;
  & > div{
    @extend .row;
  }
  main[role="main"]{
    @extend .col-md-60;
  }
}
