.layout-story{
  @extend .row;
  main[role="main"]{
    @extend .col-md-45;
    @extend .col-md-pull-15;
  }
  aside{
    letter-spacing: $font-letter-spacing;
    @extend .col-md-15;
    @extend .col-md-push-45;
    #search{
      a{
        display: block;
        color: $color-black;
        &:hover, &.active{
          color: $color-orange;
        }
      }
    }
    .newsletter{
      form{
        margin-top: 0.5em;
        @extend .form-group;
        input{
          margin-bottom: 10px;
          @extend .form-control;
        }
        button, button:hover, button:active{
          float: right;
          border-radius: 0;
          text-transform: uppercase;
          font-size: 1.3;
          font-weight: bold;
          letter-spacing: $font-letter-spacing;
          color: $color-orange;
          background: $color-black;
          padding: 0.5em 1.6em 0.35em;
          border: none;
          box-shadow: none;
          @extend .btn;
          @extend .btn-default;
          &:active{
            background: $color-orange;
            color: $color-black;
          }
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }
}

