.layout-story{
  @extend .row;
  main[role="main"]{
    @extend .col-md-45;
    @extend .col-md-pull-15;
  }
  aside{
    letter-spacing: $font-letter-spacing;
    @extend .col-md-15;
    @extend .col-md-push-45;
    #search{
      a{
        display: block;
        color: $color-black;
        &:hover, &.active{
          color: $color-orange;
        }
      }
    }
    .newsletter{
      form{
        margin-top: 0.5em;
        @extend .form-group;
        input{
          margin-bottom: 10px;
          @extend .form-control;
        }
        button, button:hover, button:active{
          float: right;
          border-radius: 0;
          text-transform: uppercase;
          font-size: 1.3;
          font-weight: bold;
          letter-spacing: $font-letter-spacing;
          color: $color-orange;
          background: $color-black;
          padding: 0.5em 1.6em 0.35em;
          border: none;
          box-shadow: none;
          @extend .btn;
          @extend .btn-default;
          &:active{
            background: $color-orange;
            color: $color-black;
          }
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }
}

// resolving google search and bootstrap conflict

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button,
.gsc-selected-option-container{
  box-sizing: content-box;
  line-height: normal;
}
.gsc-search-button,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus{
  border-color: $color-black !important;
}
.cse input.gsc-input, input.gsc-input {
  background:url(/images/search.png) 0 0 no-repeat !important;
  &:focus{
    background-image:none !important;
  }
}
.gsc-control-cse.gsc-control-cse-en{
  padding: 0;
  margin-top: 0.5em;
}
.gsc-search-button input[type='image']{
  padding: 6px 7px;
  background-color: $color-black;
  border-radius: 0;
  margin: 0;
  position: relative;
  top: 1px;
  &:hover{
    background-color: $color-black;
    opacity: 0.7;
  }
}
.gscb_a{
  vertical-align: middle;
}
