// Common styles for *stories* related pages
// Things for *stories index* and *posts* 
// are to be implemented withing 
// *_stories-index.scss* and *_post.scss*

.layout-stories{
  @extend .row;
  main[role="main"]{
    @extend .col-md-45;
  }
  aside{
    margin-top: 80px;
    letter-spacing: $font-letter-spacing;
    @extend .col-md-15;
    @media (min-width: $screen-md-min) {
      margin-top: 0;
    }
    #search{
      a{
        display: block;
        color: $color-black;
        &:hover, &.active{
          color: $color-orange;
        }
      }
    }
    .newsletter{
      form{
        margin-top: 0.5em;
        @extend .form-group;
        input{
          margin-bottom: 10px;
          @extend .form-control;
        }
        button, button:hover, button:active{
          float: right;
        }
      }
    }
  }
}

