.page-training-index{
  @extend .col-md-45;
  & > div{
    @extend .row;
  }
  main[role="main"]{
    @extend .col-md-40;
  }
  aside{
    @extend .col-md-20;
    .phone{
      color: $color-orange;
      font-weight: bold;
      font-size: 1.3em;
    }
    section{
      margin-bottom: 0;
    }
  }
}
