.layout-training-page{
  @extend .col-md-45;
  & > div{
    @extend .row;
  }
  main[role="main"]{
    @extend .col-md-60;
  }
  /*aside{*/
    /*[>@extend .row;<]*/
    /*@extend .col-md-20;*/
    /*[>section{<]*/
    /*[>}<]*/
  /*}*/
}
