.layout-training{
  @extend .row;
  nav{
    @extend .col-md-15;
    margin-bottom: 30px;
    padding-top: 5px;
    a{
      /*@extend .col-md-30;*/
      display: inline-block;
      height: 327px;
      /*margin-bottom: 4%;*/
      width: 50%;
      border: 1px solid silver;
      border-top-width: 0;
      vertical-align: top;
      /*margin-right: -1px;*/
      /*margin-bottom: -1px;*/
      padding: 2%;
      @media (min-width: $screen-sm-min){
        height: 190px;
        padding: 0;
        width: 25%;
      }
      @media (min-width: $screen-md-min){
        height: 127px;
        width: 50%;
      }
      &:nth-child(even){
        border-left-width: 0;
      }
      &:nth-child(1), &:nth-child(2){
        border-top-width: 1px;
      }
      .caption{
        color: $color-black;
        display: block;
        font-family: $font-family-condensed;
        height: 2.4em;
        line-height: 1.2em;
        margin-top: 3%;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        @media (min-width: $screen-sm-min){
          height: auto;
        }
        @media (min-width: $screen-md-min) {
          font-size: 0.8em;
        }
      }
      &.active {
        /*border-top-width: 1px;*/
        /*border-left-width: 1px;*/
        border-width: 2px;
        border-color: $color-orange;
        .caption{
          color: $color-orange;
        }
      }
      .avatar{
        display: block;
        padding: 5%;
        text-align: center;
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }
}
