html:after{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10000px;
  /*background: url(../images/tmp-bg.png) 50% -27px no-repeat;*/
  pointer-events: none;
  opacity: 0.4;
}
