button{
  @extend .btn;
  @extend .btn-default;
  &, &:hover, &:active, &:focus, &:active:hover, &:active:focus{
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.3;
    font-weight: bold;
    letter-spacing: $font-letter-spacing;
    color: $color-white;
    background: $color-black;
    padding: 0.5em 1.6em 0.35em;
    border: none;
    box-shadow: none;
  }
  &:hover{
    color: $color-orange;
    /*opacity: 0.7;*/
  }
  &:active, &:active:hover{
    background: $color-orange;
    color: $color-black;
  }
}
