footer{
  color: $color-gray-text;
  background: $color-gray;
  padding: 2em 0px 6em; // padding for social buttons on mobile
  @media (min-width: $screen-xs-min) {
    padding-bottom: 2em;
  }
  margin-top: 50px;
  h2{
    margin-top: 0.1em;
  }
  .directions{
    @extend .row;
  }
  .direction{
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid darken($color-gray, 5%);
    @extend .col-md-12;
    @extend .col-sm-12;
    @media (min-width: $screen-sm-min) {
      margin-top: 1em;
      padding-top: 0;
      border-top: none;
      font-size: 0.8em;
    }
    @media (min-width: $screen-md-min) {
      font-size: 1em;
    }
  }
  .title{
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .addition{
    margin-top: 0.5em;
  }
  /*&:before{*/
    /*content: " ";*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background: $color-gray;*/
  /*}*/
}
