footer{
  color: $color-gray-text;
  background: $color-gray;
  /*font-size: 0.8em;*/
  padding: 2em 0px;
  .directions{
    @extend .row;
  }
  .direction{
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid darken($color-gray, 5%);
    @extend .col-md-3;
  }
  .title{
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .addition{
    margin-top: 0.5em;
  }
  /*&:before{*/
    /*content: " ";*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background: $color-gray;*/
  /*}*/
}
