footer{
  color: $color-gray-text;
  background: $color-black;
  padding: 1.7em 0 2em;
  @media (min-width: $screen-xs-min) {
    padding-bottom: 2em;
  }
  margin-top: 50px;
  .offices{
    display: none;
  }
  h2{
    margin-top: 0.1em;
  }
  .directions{
    @extend .row;
  }
  .direction{
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid darken($color-gray, 5%);
    @extend .col-md-12;
    @extend .col-sm-12;
    @media (min-width: $screen-sm-min) {
      margin-top: 1em;
      padding-top: 0;
      border-top: none;
      font-size: 0.8em;
    }
    @media (min-width: $screen-md-min) {
      font-size: 1em;
    }
  }
  .title{
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .addition{
    margin-top: 0.5em;
  }
  .contacts{
    a{
      font-family: $font-family-condensed;
      display: block;
      margin-bottom: 1px;
      font-size: 1.2em;
      &.phone{
        color: white;
      }
      &.button{ // reuse for header
        display: inline-block;
        background: $color-orange;
        color: white;
        /*letter-spacing: $font-letter-spacing;*/
        padding: 0 10px;
        text-decoration: none;
        &:hover{
          opacity: 0.6;
        }
      }
      &.button{ // not reusable part
        margin-top: 0.5em;
        line-height: 30px;
      }
    }
  }
}

@media (min-width: $screen-sm-min){
  footer{
    padding: 2em 0px 3em; // padding for social buttons on mobile
    background: $color-gray;
    .contacts{
      display: none;
    }
    .offices{
      display: block;
    }
  }
}
