.site-header{
  margin-top: 17px;
  text-align: center;
  @extend .hidden-xs;
  .logo img{
    width: 88px;
  }
  .description{
    font-size: 0.9em;
    margin-top: 25px;
    @media (min-width: $screen-sm-min) {
      line-height: 1.6;
    }
  }
}
.description{
  font-family: $font-family-decorative;
  letter-spacing: 0.1em;
}
