// empty
section.main-banner{
  /*margin-top: 2em;*/
  margin-bottom: 2em;
  a{
    color: $color-white;
  }
  &>div{
    @extend .col-md-60;
  }
  &>div>div{
    position: relative;
  }
  a.main-link .title-ribbons{
    position: absolute;
    top: 0;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      top: 1.5em;
    }
  }
  .lines-number-3{ //TODO check if we still need this?
    font-size: 3vw;
    @media (min-width: $screen-sm-min) {
      font-size: 1em;
    }
  }
  .ribbon-secondary{
    margin-bottom: 0.08em;
    padding-right: 0.5em;
    font-size: 3vw;
    @media (min-width: $screen-sm-min) {
      font-size: 1.6em;
    }
    span{
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      /*.level-3, .level-2, .level-1 {*/
        background-color: $color-orange;
      /*}*/
      line-height: 1.3em;
      display: inline;
      margin: 0;
      padding: 0.15em 1.5vw;
      font-family: $font-family-ribbon;
      font-weight: bold;
      letter-spacing: $font-letter-spacing;
    }
  }
  .ribbon-primary{
    font-size: 6vw;
    padding-right: 0.5em;
    @media (min-width: $screen-sm-min) {
      font-size: 4em;
      line-height: 1.3em;
      br{
        display: block;
      }
    }
    span{
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      /*.level-3, .level-2, .level-1 {*/
        background-color: $color-black;
      /*}*/
      line-height: 1.3em;
      padding-top: 0.15em;
      padding-bottom: 0.15em;
      display: inline;
      margin: 0;
      padding: 0.15em 1.5vw;
      br{
        display: none;
      }
      font-family: $font-family-ribbon;
    }
  }
  img{
    width: 100%;
  }
  .caption{
    color: $color-black;
    display: block;
    margin: 0.5em 0;
    @media (min-width: $screen-sm-min) {
      position: absolute;
      top: 54%;
      left: 50%;
      width: 36%;
      padding: 0.5em 1em;
      color: $color-white;
      background: rgba($color-orange, 0.7);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  &:hover .caption{
      opacity: 1;
  }
  a.additional-link{
    background: $color-white;
    color: $color-orange;
    display: inline-block;
    font-weight: bold;
    @media (min-width: $screen-sm-min) {
      padding: 0.5em 1em;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  @extend .row;
}
