// empty
section.main-banner{
  /*margin-top: 2em;*/
  margin-bottom: 2em;
  a{
    color: $color-white;
  }
  &>div{
    @extend .col-md-60;
  }
  &>div>div{
    position: relative;
  }
  a.main-link .title-ribbons{
    span{
      padding: 0 5%;
    }
    position: absolute;
    top: 1em;
    @media (min-width: $screen-sm-min) {
      top: 2.5em;
    }
  }
  .ribbon-secondary{
    background-color: $color-orange;
    display: inline-block;
    margin: 0;
    font-size: 1.5em;
    font-family: $font-family-ribbon;
    font-weight: bold;
    letter-spacing: $font-letter-spacing;
    white-space: nowrap;
    @media (min-width: $screen-sm-min) {
      font-size: 1.6em;
    }
  }
  .ribbon-primary{
    background-color: $color-black;
    display: inline-block;
    margin: 0;
    font-size: 2em;
    br{
      display: none;
    }
    font-family: $font-family-ribbon;
    @media (min-width: $screen-sm-min) {
      font-size: 4em;
      line-height: 1.3em;
      br{
        display: block;
      }
    }
  }
  img{
    width: 100%;
  }
  .caption{
    color: $color-black;
    display: block;
    margin: 0.5em 0;
    @media (min-width: $screen-sm-min) {
      position: absolute;
      top: 54%;
      left: 50%;
      width: 36%;
      padding: 0.5em 1em;
      color: $color-white;
      background: rgba($color-orange, 0.7);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  &:hover .caption{
      opacity: 1;
  }
  a.additional-link{
    background: $color-white;
    color: $color-orange;
    display: inline-block;
    font-weight: bold;
    @media (min-width: $screen-sm-min) {
      padding: 0.5em 1em;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  @extend .row;
}
