// empty
section.main-banner{
  margin-top: 2em;
  margin-bottom: 2em;
  a{
    color: $color-white;
  }
  &>div{
    @extend .col-md-15;
  }
  &>div>div{
    position: relative;
  }
  a.main-link .title-ribbons{
    span{
      padding: 0 0.4em;
    }
    /*position: absolute;*/
    /*top: 2em;*/
  }
  .ribbon-secondary{
    background-color: $color-orange;
    display: inline-block;
    margin: 0;
    font-size: 1.5em;
    font-family: $font-family-ribbon;
  }
  .ribbon-primary{
    background-color: $color-black;
    display: inline-block;
    margin: 0;
    font-size: 2em;
    br{
      display: none;
    }
    font-family: $font-family-ribbon;
  }
  img{
    width: 100%;
  }
  .caption{
    color: $color-black;
    display: block;
    margin: 0.5em 0;
  }
  a.additional-link{
    background: $color-white;
    color: $color-orange;
    display: inline-block;
    font-weight: bold;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
  }
  @extend .row;
}
