nav.main-menu{
  @extend .navbar;
  @extend .navbar-default;
  margin-top: 10px;
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    margin-top: 9px;
    /*min-height: 47px;*/
  }
  /*.menu-links{*/
    /*@extend .collapse;*/
    /*@extend .navbar-collapse;*/
  /*}*/
  & > div{
    @extend .row;
  }
  .navbar-toggle{
    margin-right: 0;
    margin-left: 10px;
    &.collapsed{
      &:hover, &:focus{
        background: none;
      }
    }
  }
}
.navbar-header{
  @extend .col-xs-60;
  @extend .visible-xs;
  margin-top: 15px;
}
.brand-logo{
  @extend .visible-xs;
  @extend .navbar-brand;
  padding-left: 0;
  padding-top: 0;
  img{
    height: 48px;
    width: 48px;
  } 
}
.brand-text{
  @extend .navbar-text;
  @extend .visible-xs;
  font-size: 1.3em;
  margin: 2px 0 0 60px;
  .description{
    display: block;
    font-size: 0.7em;
  }
}
#main-menu-collapse{
  .search{
    @extend .visible-xs-block;
    margin: 15px 0 10px;
  }
  & > ul{
    float: none;
    margin: 1em auto 0;
    text-align: center;
    li{
      float: none;
      display: inline-block;
      text-transform: uppercase;
      @media (min-width: $screen-sm-min) {
        a {
          color: $color-white;
          font-size: 1.3em;
          font-weight: bold;
          letter-spacing: $font-letter-spacing;
          line-height: 33px;
          font-family: $font-family-condensed;
          padding: 0 15px;
          transition: color $transition-time;
          &:hover{
            color: $color-orange;
          }
        }
        &.active a{
          color: $color-orange;
          background: $color-black;
          border-bottom: 10px solid $color-orange;
          margin-bottom: -10px;
        }
      }
      @media (min-width: $screen-md-min) {
        a {
          padding: 0 30px;
        }
      }
    }
    @media (min-width: $screen-sm-min) {
      background: $color-black;
      margin-top: 0px;
    }
  }
}
