.main-menu{
  margin-top: 10px;
  margin-bottom: 0;
  @extend .navbar;
  @extend .navbar-default;
  @media (min-width: $screen-sm-min) {
    margin-top: 3px;
  }
  /*.menu-links{*/
    /*@extend .collapse;*/
    /*@extend .navbar-collapse;*/
  /*}*/
}
.navbar-header{
  margin-top: 15px;
}
.brand-logo{
  padding-left: 0;
  padding-top: 0;
  img{
    height: 48px;
    width: 48px;
  } 
  @extend .visible-xs;
  @extend .navbar-brand;
}
.brand-text{
  font-size: 1.3em;
  margin: 2px 0 0;
  @extend .navbar-text;
  @extend .visible-xs;
  .description{
    display: block;
    font-size: 0.7em;
  }
}
#main-menu-collapse{
  & > ul{
    margin: 1em auto 0;
    float: none;
    text-align: center;
    li{
      float: none;
      display: inline-block;
      text-transform: uppercase;
      @media (min-width: $screen-sm-min) {
        a {
          padding-top:    10px;
          padding-bottom: 10px;
        }
      }
    }
    @media (min-width: $screen-sm-min) {
      margin-top: 5px;
    }
  }
}
.navbar-toggle{
  margin-right: 0;
  margin-left: 10px;
}
