.page-banners{
  @extend .row;
  /*margin-bottom: 2em;*/
  /*margin-top: 1em;*/
  @media (min-width: $screen-sm-min) {
    /*margin-bottom: 2em;*/
    /*margin-top: 2em;*/
  }
  article{
    @extend .col-md-20;
    @extend .col-sm-20;
    margin-bottom: 2em;
    /*@media (min-width: $screen-sm-min) {*/
      /*margin-bottom: 0;*/
    /*}*/
    &:nth-child(3n+1) {
      clear: left;
    }
    h3{
      letter-spacing: $font-letter-spacing;
      margin: 0.7em 0 0.3em;
      text-transform: uppercase;
      opacity: 0.8;
      font-size: 1.7em;
    }
    .caption{
      @media (min-width: $screen-sm-min) {
        font-size: 0.9em;
      }
      opacity: 0.8;
    }
    img{
      margin: 0;
      text-align: left;
      width: 70%;
      @media (min-width: $screen-sm-min) {
        width: 100%;
      }
    }
    p{
      margin: 0;
    }
  }
}
