section.page-banners{
  @extend .row;
  article{
    margin-bottom: 2em;
    h3{
      margin: 10px 0 5px;
    }
    a>img{
      margin: 0;
      text-align: left;
      width: 70%;
      @media (min-width: $screen-sm-min) {
        width: 100%;
      }
    }
    @extend .col-md-20;
    @extend .col-sm-20;
  }
}
