// resolving google search and bootstrap conflict

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button,
.gsc-selected-option-container{
  box-sizing: content-box;
  line-height: normal;
}
.gsc-search-button,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus{
  border-color: $color-black !important;
}
.cse input.gsc-input, input.gsc-input {
  background:url(/images/search.png) 0 0 no-repeat !important;
  &:focus{
    background-image:none !important;
  }
}
.gsc-control-cse.gsc-control-cse-en{
  padding: 0;
  margin-top: 0.5em;
}
.gsc-search-button input[type='image']{
  padding: 6px 7px;
  background-color: $color-black;
  border-radius: 0;
  margin: 0;
  position: relative;
  top: 1px;
  &:hover{
    background-color: $color-black;
    opacity: 0.7;
  }
}
.gscb_a{
  vertical-align: middle;
}
