.slogan>div{
  animation: marquee 30s linear infinite;
  animation-delay: -5s;
  background: $color-black;
  color: $color-white;
  font-size: 1.5em;
  letter-spacing: $font-letter-spacing;
  line-height: 1.65em;
  /*margin-top: 20px;*/
  overflow: hidden;
  white-space: nowrap;
  @extend .hidden-xs;
  &:hover{
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0% { 
    text-indent: 55em;
  }
  100% { 
    text-indent: -22em; 
  }
}
