//TODO remove and spread this file to others

.logo img{
  width: 64px;
}

aside{
  & > div{
    @extend .row;
  }

  section{
    @extend .col-sm-30;
    @extend .col-md-60;
    @extend .col-lg-60;
    font-family: $font-family-condensed;
    font-size: 1.2em;
    margin-bottom: 60px;
    &:last-child{
      margin-bottom: 0;
    }
  }

  section{
    @media (min-width: $screen-md-min) {
      /*margin-top: 5px;*/
      &:before{
        content: " ";
        display: block;
        border-top: 10px solid $color-black;
      }
    }
    h2,h3{
      letter-spacing: $font-letter-spacing;
      /*font-size: 1.2em;*/
    }
    h2{
      text-transform: uppercase;
      font-weight: bold;
    }
    h3{
      font-weight: bold;
      margin: 0.6em 0 0.8em;
    }
  }
}
