form{
  @extend .form-group;
  margin-top: 0.5em;
  input, textarea{
    @extend .form-control;
    margin-bottom: 10px;
    &.ui-state-error{ // for h5validate plugin
      border-color: $color-orange;
      &:focus{
        box-shadow: 0 0 5px rgba(red($color-orange), green($color-orange), blue($color-orange), 1);
      }
    }
  }
  button{
    @extend .btn;
    @extend .btn-default;
    &, &:hover, &:active, &:focus, &:active:hover, &:active:focus{
      float: right;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 1.3;
      font-weight: bold;
      letter-spacing: $font-letter-spacing;
      color: $color-white;
      background: $color-black;
      padding: 0.5em 1.6em 0.35em;
      border: none;
      box-shadow: none;
    }
    &:hover{
      color: $color-orange;
      /*opacity: 0.7;*/
    }
    &:active, &:active:hover{
      background: $color-orange;
      color: $color-black;
    }
  }
}
select{
  @extend .form-control;
  margin-bottom: 10px;
  padding-left: 8px;
}
