table{
  table-layout: fixed;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
  td, th{
    vertical-align: top;
  }
  td{
    padding: 8px 10px 0 0;
  }
  th{
    padding: 0 10px 2px 0;
  }
  thead{
    border-bottom: 2px silver solid;
  }
  &.equal{
    th{
      width: 50%;
    }
  }
}

main[role="main"] p.table-caption{
  border-top: 1px silver solid;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1.5em;
  margin-top: -0.9em;
  padding-top: 0.2em;
}
