//TODO join all fonts to one @import

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);*/
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

// to edit vars go to _sass/helpers/_variables.scss

body{
  font-family: $font-family-base;
}

h1,h2,h3,h4{
  font-weight: bold;
  letter-spacing: $font-letter-spacing;
  text-transform: uppercase;
}

h1 {
  font-size: 2.369em;
  margin-bottom: 0.8em;
  margin-top: 0;
}
h2 {font-size: 1.777em;}
h3 {font-size: 1.333em;}
h4 {font-size: 1.0em;}

h1{
  .highlight{
    color: $color-orange;
    font-style: inherit;
    font-weight: inherit;
    text-transform: none;
  }
}
h2{
  margin-top: 1.2em;
  margin-bottom: 0;
  &.subtitle{
    margin-bottom: 1em;
    margin-top: -0.8em;
    color: $color-orange;
  }
}

main[role="main"] p{
  font-size: 1.2em;
  font-family: $font-family-condensed;
  margin: 0.6em 0;
  &.date{
    color: $color-orange;
    margin-top: 0;
  }
  &.highlight{
    color: $color-orange;
  }
  &.caption{
    font-weight: bold;
    font-family: $font-family-condensed;
    margin: 1em 0;
  }
}


ul.checkmark li:before
{
    content: '✔';
    margin-left: -1em;
    margin-right: .800em;
}

ul.checkmark
{
   padding-left: 30px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
}
